<div class="flex flex-col justify-around items-center m-4 p-4 h-auto w-auto rounded-lg bg-indigo-500">
  <p class="text-white font-bold text-xl p-2">Registration</p>

  <form (ngSubmit)="registerUser()">
    <div class="flex flex-row items-center bg-white rounded-lg pr-6">
      <span class="p-2 pl-1 text-indigo-500 text-xl font-bold pi pi-envelope"></span>
      <input type="text"
             [(ngModel)]="user.email"
             [ngModelOptions]="{standalone: true}"
             placeholder="Your email address" class="p-2 text-md rounded-lg">
    </div>

    <div class="flex flex-row items-center bg-white rounded-lg pr-6 mt-4">
      <span class="p-2 pl-1 text-red-500 text-xl font-bold pi pi-shield"></span>
      <input type="password"
             [(ngModel)]="user.password"
             [ngModelOptions]="{standalone: true}"
             placeholder="Your password" class="p-2 text-md rounded-lg">
    </div>

    <div class="flex flex-row mt-12 justify-end">
      <button
        type="submit"
        class="ml-2 mt-2 bg-green-600 hover:bg-white hover:border-2 hover:border-green-600 rounded-lg">
        <p class="text-white hover:text-green-600 font-bold p-2">Submit</p>
      </button>

      <button
        type="reset"
        class="ml-2 mt-2 bg-red-600 hover:bg-white hover:border-2 hover:border-red-600 rounded-lg">
        <p class="text-white hover:text-red-600 font-bold p-2">Reset</p>
      </button>
    </div>
  </form>


</div>
