<div class="flex flew-row flex-1 justify-between align-center bg-indigo-600 p-1">
  <div class="bg-white flex flex-row justify-center items-center rounded-full h-12 w-12">
    <img class="w-full h-full object-contain p-2" src="https://cdn-icons-png.flaticon.com/128/2171/2171991.png" alt="">
  </div>
  <ul class="flex flex-row items-center text-xl text-pink-500 font-medium">
    <li class="">
      <a class="ml-4 hover:text-white" routerLink="products">
        Home
      </a>
    </li>
  </ul>
</div>

